In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

pd.options.display.float_format = '{:20,.3f}'.format
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 1000
np.set_printoptions(precision=3)

In [3]:
path = '/home/pulkit/Spring2022/ENPM 673/HW 1/ENPM673_hw1_linear_regression_dataset - Sheet1.csv'
df = pd.read_csv(path)

In [4]:
df.shape

(325, 7)

In [5]:
df.head()

,age,sex,bmi,children,smoker,region,charges
0,33,male,22.705,0,no,northwest,"21,984.471"
1,32,male,28.880,0,no,northwest,"3,866.855"
2,37,female,27.740,3,no,northwest,"7,281.506"
3,60,female,25.840,0,no,northwest,"28,923.137"
4,37,male,28.025,2,no,northwest,"6,203.902"

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object